
/* *{
    margin: 0;
    box-sizing: border-box;
} */

#logo {
 width: 350px;
 padding-top: 5%;
}

header {
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
}

h1 {   
    font-size: 50px;
}

h5{
    color: #848484;
}

a{
    color: #3cb6e9;
    text-decoration: none;
}

.tim {
    margin-top: 20px;
}

section {
    margin: 10px;
}

.list-tim ul {
    padding: 3px;
}

#blu{
    background-color: #3cb6e9;
    color: white;
}

table{
    border-spacing: unset;
}